body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fffaf0;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.6);
  color: white;
  z-index: 1000;
}

.nav-btn {
  background: #ffd700;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

/* HERO */
.hero {
  height: 100vh;
  position: relative;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 60px;
  color: gold;
}

/* BUTTON */
.btn {
  padding: 12px 25px;
  background: #25D366;
  border-radius: 30px;
  color: white;
  text-decoration: none;
}

/* SERVICES */
.services {
  padding: 60px 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  background: white;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: gold;
}

/* GALLERY */
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 15px;
}

.images img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.4s;
}

.images img:hover {
  transform: scale(1.1);
}

/* CONTACT */
.contact {
  padding: 50px;
  text-align: center;
}

.btn2 {
  margin: 10px;
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 20px;
}

.green {
  background: #25D366;
}

/* MOBILE FIX */
@media(max-width:768px){
  .hero h1{
    font-size: 35px;
  }

  .navbar{
    flex-direction: column;
    text-align: center;
  }
}
